<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
  <ul>
    <% @list.each do |x| %>
     <li><%= x %></li>
    <% end %>
  </ul>

</body>

</html>
