<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
    <form class="inputfield" action="/bookmarks" method="post">
    <label for="add_bookmark">
      Add a new bookmark:
      <input type="text" name="add_bookmark">
    </label>
    <input type="submit" value="Submit">
  </form>

</body>

</html>
